:root {
    --color1: rgb(7, 16, 19);
    --color2: rgb(235, 81, 96);
    --color3: rgb(183, 153, 156);
    --color4: rgb(170, 170, 170);
    --color5: rgb(223, 224, 226);
    --color6: rgb(109, 122, 137);
}

/* PAGE STYLING */
.greeting {
    color: white;
    width: 40vw;
    height: 100%;
    background-color: var(--color2);
    position: fixed;
    box-shadow: 0 0 5px 0px black;
}

.content {
    padding: 20px 20px 20px calc(40vw + 25px);
}

span.small {
    font-weight: 600;
    font-size: 60%;
    font-style: italic;
}

/* LEFT BAR (GREETING) STYLING */
.greeting .top {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.greeting .me {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5vw;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: 1vmin 1vmin 0 var(--color6), -1vmin -1vmin 0 var(--color3);
}

.greeting .hey {
    font-size: 2vw;
    font-weight: 900;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

.svg-seperator {
    display: block;
}

.sep-color-0 {
    fill: rgb(108, 122, 137);
}

.sep-color-1 {
    opacity: 1;
    fill: #95a5a6;
}

.sep-color-2 {
    opacity: 1;
    fill: #34495e;
}

.greeting .bottom {
    padding: 30px;
    background: rgb(108, 122, 137);
    height: 100%;
    position: relative;
    top: -4px;
}

.greeting .title {
    margin-bottom: 0;
}

.greeting .bottom p {
    margin-top: 5px;
}

.social-icon {
    transform: scale(1);
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.divider {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: 20px auto;
}

.social-flex {
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    width: 100%;
}

.social-flex a {
    margin: 0 10px;
}


/* NAVBAR STYLING */
.nav {
    display: flex;
    border: 0.5px solid #ddd;
    padding: 20px;
}

.nav h3 {
    flex: 1;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.nav .pull-right {
    flex: 2;
    text-align: right;
    align-self: center;
}

.nav .project:not(:last-child):after {
    content: "";
    border: 0.5px solid #eee;
    margin: 0 10px;
}

.nav .project h5 {
    cursor: pointer;
    display: inline;
    padding: 10px 0;
    font-weight: lighter;
}

.nav .project.active h5 {
    font-weight: bolder;
    border-bottom: 2px solid #000;
}

/* PROJECT CONTENT STYLING */
.projectName {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.projectSubtitle {
    color: #aaa;
    text-align: center;
    margin: 0;
}

.projectTimeline {
    color: #666;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 5px 0 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills span {
    padding: 3px 7px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    margin: 5px 5px;
    font-weight: bold;
}

.projectSummary h3 {
    margin-bottom: 5px;
}

.projectSummary h4 {
    margin-bottom: 5px;
}

.projectSummary p {
    margin-top: 0;
}
